.toolbar {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10px;
}

.listItemButton {
    margin-left: 20px;
}

.listItemIcon {
    color: white;
}


.divider {
    background-color: #ffffff;
    width: 70%;
    margin: 0 auto;
}